/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'font-awesome'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official";

div.body-container{
  padding: 2em 0em;
}

div.footer {
  z-index: 1001;
  background: #111;
  color: #666;
  text-align: center;
  padding: 1em 0em;
  font-size: 80%;
  position:fixed;
  bottom:0;
  width:100%;
}
div.header{
  z-index: 1001;
  background: #111;
  color: #666;
  //text-align: center;
  //padding: 1em 0em;
  //font-size: 80%;
  position:fixed;
  top:0;
  width:100%;
}
